.nav-item{
  color: #fff;
  margin: 10px;
}
.navbar-brand{
  font-weight: bold;
  font-size: 1.5rem !important;
  color: #ef233c !important;
}
.nav-item button{
  border-radius: 10px;
}
body {
  background-color: #edf2f4 !important;
}
a {
  text-decoration: none !important;
  color: #ef233c !important;
}
.navbar{
  background-color: rgb(33, 37, 41);
  }